<p id="notice"><%= notice %></p>

<div class="karuta--message">　</div>
<div class="concentration--top">
  <% @book.questions.each do |q| %>
    <div class="card--cell">
      <div class="card--format">
        <div class="karuta--tail">
          <div class="karuta--text", style="color: <%= q.ans_color %>; font-size: <%= @book.font_size %>px"><%= q.answer %></div>
          <div class="karuta--pair" id="<%= q.id %>"></div>        
        </div>
      </div>
    </div>
    <div class="card--cell">
      <div class="karuta--reading">
        <div class="karuta--head">
          <div class="karuta--text", style="color: <%= q.cont_color %>; font-size: <%= @book.font_size %>px"><%= q.content %></div>
          <div class="karuta--pair" id="<%= q.id %>"></div>
        </div>       
      </div>
    </div>
  <% end %>
</div>
<div class="karuta--comment">スタートボタンを押してください</div>
<div class="js--button" id="start_karuta">スタート(S)</div>
<div class="js--button" id="stop_karuta">ストップ(S)</div>