<p id="notice"><%= notice %></p>
単語帳(クリックすると表裏が入れ替わります)
<div class="concentration--top">
  <% @book.questions.each do |q| %>
    <div class="card--cell">
      <div class="card--format">
        <div class="wordbook--tail">
          <div class="wordbook--tail--content">
            <div class="wordbook--text", style="color: <%= q.cont_color %>; font-size: <%= @book.font_size %>px"><%= q.content %></div>
          </div>
        </div>
        <div class="wordbook--head">
          <div class="wordbook--head--content">
            <div class="wordbook--text", style="color: <%= q.ans_color %>; font-size: <%= @book.font_size %>px"><%= q.answer %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<input type="button" value="シャッフル" id="wordbook_shuffle"><br />