<p id="notice"><%= notice %></p>

<div class="concentration__top">
  <% @book.questions.each do |q| %>
    <div class="card__object">
      <div class="card__cell">
        <div class="concentration__tail"></div>
        <div class="concentration__head">
          <div class="concentration__head--content">
            <div class="concentration__text", style="color: <%= q.cont_color %>; font-size: <%= @book.font_size %>px"><%= q.content %></div>
          </div>
          <div class="concentration__id" id="<%= q.id %>"></div>
        </div>
      </div>
    </div>
    <div class="card__object">
      <div class="card__cell">
        <div class="concentration__tail"></div>
        <div class="concentration__head">
          <div class="concentration__head--content">
            <div class="concentration__text", style="color: <%= q.ans_color %>; font-size: <%= @book.font_size %>px"><%= q.answer %></div>
          </div>
          <div class="concentration__id" id="<%= q.id %>"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<input type="button" value="シャッフル" id="concentration_shuffle"><br />
<input type="button" value="オープン" id="concentration_open"><br />
<div class="concentration__comment">カードを選択してください</div>