<p id="notice"><%= notice %></p>

<div class="concentration__top">
  <% @book.questions.each do |q| %>
    <div class="card__object">
      <div class="card__cell">
        <div class="concentration__tail"></div>
        <div class="concentration__head">
          <div class="concentration__head--content">
            <div class="concentration__text", style="color: <%= q.cont_color %>; font-size: <%= @book.font_size %>px"><%= q.content %></div>
          </div>
          <div class="concentration__id" id="<%= q.id %>"></div>
        </div>
      </div>
    </div>
    <div class="card__object">
      <div class="card__cell">
        <div class="concentration__tail"></div>
        <div class="concentration__head">
          <div class="concentration__head--content">
            <div class="concentration__text", style="color: <%= q.ans_color %>; font-size: <%= @book.font_size %>px"><%= q.answer %></div>
          </div>
          <div class="concentration__id" id="<%= q.id %>"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="concentration__comment">モードを選択してください</div>
<div class="concentration__score">　</div>
<div class="tool__box">
  <div class="tool__button" id="concentration--shuffle">シャッフル(s)</div>
  <div class="tool__button" id="concentration--open">オープン(o)</div>
  <div class="tool__button" id="concentration--1Pmode">1人で遊ぶ(1)</div>
  <div class="tool__button" id="concentration--CPUmode">CPUと遊ぶ(c)</div>
  <div class="tool__button" id="concentration--high-score"><%= link_to 'ハイスコア(H)', books_path %></div>
  <div class="tool__button" id="concentration--regist-score">スコアを登録</div>
</div>
<div class="concentration__time">　</div>