<p id="notice"><%= notice %></p>

<div class="concentration--top">
  <% @book.questions.each do |q| %>
    <div class="concentration--cell">
      <div class="concentration--card">
        <div class="concentration--tail"></div>
        <div class="concentration--head">
          <div class="concentration--text", style="color: <%= q.cont_color %>; font-size: <%= @book.font_size %>px"><%= q.content %></div>
          <div class="concentration--pair" id="<%= q.id %>"></div>
        </div>
      </div>
      <div class="concentration--card">
        <div class="concentration--tail"></div>
        <div class="concentration--head">
          <div class="concentration--text", style="color: <%= q.ans_color %>; font-size: <%= @book.font_size %>px"><%= q.answer %></div>
          <div class="concentration--pair" id="<%= q.id %>"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<input type="button" value="カードをシャッフルする" id="shuffle_card"><br />
<div class="concentration--comment">カードを選択してください</div>